.alumni-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.alumni-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.alumni-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 80%;
}

.image-right {
    opacity: 0;
}

.alumni-row-title {
    color: #111827;
    font-weight: bold;
    font-size: 2.5rem;
}

.alumni-row-text {
    color: #6D7280;
    font-size: 20px;
}

.alumni-row-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    gap: 32px;
}

.alumni-card p {
    font-size: 1.25rem;
    text-align: center;
    color: #111827;
}

.carousel-button {
    width: 48px;
    height: 48px;
    border: 1px solid #D2D5DA;
    border-radius: 50%;
    background-color: white;
    color: #6D7280;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    .alumni-row-2 {
        display: flex;
        flex-direction: column;
    }
    .alumni-row-1 {
        padding-top: 20px;
    }
}