.alumni-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.alumni-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.alumni-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 80%;
}

.image-right {
    opacity: 0;
}

.alumni-row-title {
    color: #111827;
    font-weight: bold;
    font-size: 2.5rem;
}

.alumni-row-text {
    color: #6D7280;
    font-size: 20px;
}

.alumni-row-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    gap: 32px;
}

.alumni-card p {
    font-size: 1.25rem;
    text-align: center;
    color: #111827;
}

.carousel-container {
    overflow: hidden;
    width: 1300px;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.alumni-card {
    flex: 0 0 calc(33.33% - 10px); 
    margin-right: 10px;
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.carousel-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(135deg, #515851, #8BC34A); 
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.carousel-button:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.carousel-button:active {
    transform: scale(0.9); 
}

.prev-btn,
.next-btn {
    z-index: 10; 
}

.prev-btn[disabled],
.next-btn[disabled] {
    opacity: 0.5;
    pointer-events: none;
}


@media (max-width: 768px) {
    .alumni-card {
        flex: 0 0 calc(100% - 20px); 
        margin-right: 20px;
    }
}