body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.container {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #333;
    margin: 10px 10px 5px 10px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 15px 10px 15px 10px;
    border: 1px solid #00b894;
    border-radius: 10px;
    align-items: center;
    width: auto;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
    color: #333;
    background-color: white;
    font-weight: bold;
    margin: 5px;
}

.tab.active {
    background-color: #00b894;
    color: white;
}

.content {
    display: none;
    padding: 20px;
    border-radius: 5px;
    background-color: #c0ffef;
    text-align: left;
}

.content.active {
    display: block;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #c0ffef;
    padding: 20px;
    border-radius: 10px;
}

.content1 .left1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content1 .left1 img {
    width: 250px;
    margin: 10px;
}

.content1 .right1 {
    flex: 2;
    padding: 20px;
}

.content1 .right1 h2 {
    color: #0EA781;
    font-size: 1.5em;
    margin-top: 0;
}

.content1 .right1 p {
    color: #666;
    margin: 10px 0;
}

.content1 .right1 .info1 {
    margin: 20px 0;
}

.content1 .right1 .info1 h3 {
    color: #000000;
    font-size: 1.2em;
    margin: 10px 0;
}

.content1 .right1 .info1 p {
    color: #666;
    margin: 5px 0;
}

.content1 .right1 .info1 hr {
    border: 0;
    border-top: 1px solid #0EA781;
    margin: 10px 0;
}

.content1 .right1 .button1 {
    text-align: left;
    margin-top: -10px;
    display: inline-block; 
}

.content1 .right1 .button1 a {
    background-color: #0EA781;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.content1 .right1 .button1 a:hover {
    background-color: #e0a800;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.content1 .right1 .button1 a:active {
    background-color: #c69500;
    transform: scale(0.95);
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #c0ffef;
    padding: 20px;
    border-radius: 10px;
}

.content2 .right2 {
    flex: 2;
    padding: 20px;
}

.content2 .right2 h2 {
    color: #0EA781;
    font-size: 1.5em;
    margin-top: 0;
}

.content2 .right2 p {
    color: #666;
    margin: 10px 0;
}

.content2 .right2 .info2 {
    margin: 20px 0;
}

.content2 .right2 .info2 h3 {
    color: #000000;
    font-size: 1.2em;
    margin: 10px 0;
}

.content2 .right2 .info2 p {
    color: #666;
    margin: 5px 0;
}

.content2 .right2 .info2 hr {
    border: 0;
    border-top: 1px solid #0EA781;
    margin: 10px 0;
}

.content2 .right2 .button2 {
    text-align: left;
    margin-top: -10px;
    display: inline-block; 
}

.content2 .right2 .button2 a {
    background-color: #0EA781;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.content2 .right2 .button2 a:hover {
    background-color: #0EA781;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.content2 .right2 .button2 a:active {
    background-color: #c69500;
    transform: scale(0.95);
}

.content2 .left2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content2 .left2 img {
    width: 250px;
    margin: 10px;
}

.container3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content3 {
    display: flex;
    flex-wrap: wrap;
    background-color: #c0ffef;
    padding: 20px;
    border-radius: 10px;
}

.content3 .left3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content3 .left3 img {
    width: 250px;
    margin: 10px;
}

.content3 .right3 {
    flex: 2;
    padding: 20px;
}

.content3 .right3 h2 {
    color: #0EA781;
    font-size: 1.5em;
    margin-top: 0;
}

.content3 .right3 p {
    color: #666;
    margin: 10px 0;
}

.content3 .right3 .info3 {
    margin: 20px 0;
}

.content3 .right3 .info3 h3 {
    color: #000000;
    font-size: 1.2em;
    margin: 10px 0;
}

.content3 .right3 .info3 p {
    color: #666;
    margin: 5px 0;
}

.content3 .right3 .info3 hr {
    border: 0;
    border-top: 1px solid #0EA781;
    margin: 10px 0;
}

.content3 .right3 .button3 {
    text-align: left;
    margin-top: -10px;
    display: inline-block; 
}

.content3 .right3 .button3 a {
    background-color: #0EA781;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.content3 .right3 .button3 a:hover {
    background-color: #e0a800;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.content3 .right3 .button3 a:active {
    background-color: #c69500;
    transform: scale(0.95);
}
