@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.navbar *{
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.navbar i {
    font-family:'FontAwesome'!important;
    color: #4B5563;
    transition: color 0.3s ease;
    }


    .navbar i:active {
        font-family:'FontAwesome'!important;
        color: #111827;
        }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 112px; /* Increased padding for left and right */
}
.navbar .logo img {
    height: 50px;
}

.navbar .menu {
    display: flex;
    align-items: center;
}
.navbar .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar .menu ul li {
    margin: 0 15px;
    position: relative;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: #4B5563;
    transition: color 0.3s ease;
}

.navbar .menu ul li a:hover,
.navbar .menu ul li:hover > a {
    color: #0EA781;
}
.navbar .menu ul li a:hover i,
.navbar .menu ul li:hover > a i {
    color: #0EA781;
}

.navbar .menu ul li a:hover {
    color: #0EA781;
}
.navbar .menu ul li a.active {
    color: #0EA781;
}
.navbar .menu ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: all 0.3s ease;
}
.navbar .menu ul li:hover .dropdown {
    display: block;
}
.navbar .menu ul li .dropdown a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
}

.navbar .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    gap: 40px;
}
.navbar .daftar-btn {
    background-color: #FFCC00;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 10px 25px;
}

.navbar .masuk{
    text-decoration: none;
    color: #FFCC00;
    transition: all 0.3s ease;
}

.navbar .masuk:hover {
    color: #caa201;;
}

.navbar .daftar-btn:hover {
    background-color: #caa201;
    color: rgb(223, 223, 223);
    text-decoration: none;
}

.navbar .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navbar .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}
@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar .menu ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar .menu ul li {
        margin: 10px 0;
    }
    .navbar .hamburger {
        display: flex;
    }
    .navbar .menu.active {
        display: flex;
    }
}